<%- include("templates/header") %>

<link rel="stylesheet" href="/public/styles/analysis-result.css">

<div class="container mt-5">
    <% if (error) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } else { %>
        <h1 class="text-center mb-4">Result: <%= result.analysisDate %></h1>
        <div class="card">
            <div class="card-body">
                <h4 class="text-center mb-4 card-title">Heart Failure Risk</h4>
                <h3 class="text-center card-text"><%= result.analysisResult %>%
                </h3>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="text-center mb-4 card-title">Serum Creatinine</h4>
                <h3 class="text-center card-text"><%= result.serumCreatinine %> mg/dL</h3>
                <p class="text-center card-text">The average Serum Creatinine levels are 0.3 mg/dL</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="text-center mb-4 card-title">Ejection Fraction</h4>
                <h3 class="text-center card-text"><%= result.ejectionFraction %>%
                </h3>
                <p class="text-center card-text">The average Ejection Fraction is 40%</p>
            </div>
        </div>
        <div class="container mt-3 d-flex justify-content-center">
             <button class="btn btn-primary" onclick="goBack()">Go Back</button>
    <% } %>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

<%- include("templates/bottom-navbar") %>
