<%- include("templates/header") %>

    <div class="container mt-5">
        <% if (error) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } else { %>
                <h1 class="text-center mb-4">Patient Profile</h1>
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="<%= patient.avatar %>" class="rounded-circle mb-3" style="width: 300px"
                                alt="Patient Avatar" />
                        </div>
                        <h5 class="card-title text-center">
                            <%= patient.firstName %>
                                <%= patient.middleName %>
                                    <%= patient.lastName %>
                        </h5>

                        <a href="/patient-risk-history/<%= patient._id %>">
                            <button style="margin-bottom: 2rem;" class="btn btn-primary">View History</button>
                        </a>

                        <ul class="list-group list-group-flush">
                            <% var dateOfBirth=new Date(patient.dateOfBirth); %>
                                <li class="list-group-item">
                                    <b>Date of Birth:</b>
                                    <%= dateOfBirth.toLocaleDateString("en-CA", { year: 'numeric' , month: '2-digit' ,
                                        day: '2-digit' }) %>
                                </li>
                                <li class="list-group-item"><b>Age:</b>
                                    <%= patient.age %>
                                </li>
                                <li class="list-group-item">
                                    <b>Healthcare Number:</b>
                                    <%= patient.personalHealthId %>
                                </li>
                                <li class="list-group-item"><b>Sex:</b>
                                    <%= patient.sex %>
                                </li>
                                <li class="list-group-item">
                                    <b>Anaemia:</b>
                                    <%= patient.anaemia ? 'Yes' : 'No' %>
                                </li>
                                <li class="list-group-item">
                                    <b>Diabetes:</b>
                                    <%= patient.diabetes ? 'Yes' : 'No' %>
                                </li>
                                <li class="list-group-item">
                                    <b>High Blood Pressure:</b>
                                    <%= patient.highBloodPressure ? 'Yes' : 'No' %>
                                </li>

                                <br />

                                <% if (patient.analysis && patient.analysis.length> 0) { %> <%
                                        patient.analysis.forEach(analysis=> { %>
                                        <li class="list-group-item">
                                            <b>Analysis:</b>
                                            <a
                                                href="/analysis-result/<%= patient._id %>/<%= patient.analysis.indexOf(analysis) %>">
                                                <%= analysis.analysisDate %>
                                            </a>
                                        </li>
                                        <% }) %>
                                            <% } else { %>
                                                <li class="list-group-item">(No previous analysis found)</li>
                                                <% } %>
                        </ul>
                    </div>
                </div>
                <% } %>
    </div>

    <div class="container mt-3 d-flex justify-content-center">
        <button class="btn btn-primary" onclick="goBack()">Back</button>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <%- include("templates/bottom-navbar") %>