<%- include("templates/header") %>

    <div class="container mt-5">
        <% if (error) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } else { %>
                <h1 class="text-center mb-4">Patient Profile</h1>
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="<%= patient.avatar %>" class="rounded-circle mb-3" style=" width: 300px;"
                                alt="Patient Avatar">
                        </div>
                        <h5 class="card-title text-center">
                            <%= patient.name %>
                        </h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Age: <%= patient.age %>
                            </li>
                            <li class="list-group-item">Sex: <%= patient.sex %>
                            </li>
                            <% if (patient.previous_analysis && patient.previous_analysis.length> 0) { %>
                                <% patient.previous_analysis.forEach(analysis=> { %>
                                    <li class="list-group-item">Analysis: <%= analysis %>
                                    </li>
                                    <% }) %>
                                        <% } else { %>
                                            <li class="list-group-item">(No previous analysis found)</li>
                                            <% } %>
                        </ul>
                    </div>
                </div>
                <% } %>
    </div>

    <%- include("templates/bottom-navbar") %>